@import "tailwindcss";

@theme inline {
  --font-sans: "Heebo", sans-serif;

  --color-brand-50: #f0f7ff;
  --color-brand-100: #e0effe;
  --color-brand-200: #bae0fd;
  --color-brand-300: #7ccbfc;
  --color-brand-400: #36b2f8;
  --color-brand-500: #0c99e9;
  --color-brand-600: #0079c7;
  --color-brand-700: #0160a1;
  --color-brand-800: #065285;
  --color-brand-900: #0b446e;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}
